/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
    text-align: center;
    color: midnightblue;
}
th, td {
    padding: 50px;
}*/
body {
	background-color: mistyrose;
	color: midnightblue;
}
h1{
	color: midnightblue;
}
/*#header {
    background-color:lightsalmon;
    color:white;
    text-align:center;
    padding:5px;
}
#navigation {
    line-height:30px;
    background-color:lightsalmon;
    height:150px;
    width:100px;
    float:left;
    padding:5px;	      
}
#table {
    float:left;
    padding:10px;    
}
*/
